@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:700&subset=latin,latin-ext);

body {
	background-image: url("swirl.png");
	background-repeat: repeat;
	font: 20px 'Josefin Sans';
	font-weight: 700;
	/*color: #ff0000; */
	margin: 0 auto;
}

header {
        /*background-color: blue;*/
		background-image: url("low_contrast_linen.png");
	background-repeat: repeat;
        position: fixed; /* Makes the bar fixed */
        width: 100%; /* We want the bar to span the width of the window */
        /*z-index: 2;  We want the bar to overlap the rest of the content, by default HTML elements have a z-index of 1 and this gives our header priority over default elements*/
        height: 60px; /* Set a fixed height */
		display:block;
}

#header-title {
  display: inline-block;
  float: left; 
  padding-top: 15px;
  font: 30px 'Josefin Sans';
  padding-left: 50px;
  color: #00FFCC;
}

nav {
  display: inline-block;
  float: right;
  padding-right: 50px;
  padding-top: 25px;
}

nav ul {
  padding: 0; /* Get rid of padding */ 
  margin: 0; /* Get rid of margin */ 
}

nav li {
  display: inline-block; /* We want the links to appear on the same line */
  padding-left: 25px;
}

a {
text-decoration: none;
}

main {
	padding-top: 60px;
}

/* unvisited link */
a.mainlink:link {
    color: #00FFCC;
}

/* visited link */
a.mainlink:visited {
    color: #00FFCC;
}

/* mouse over link */
a.mainlink:hover {
    color: #FF00FF;
}

/* selected link */
a.mainlink:active {
    color: #0000FF;
}


section#welcome {
   width: 100%;
   background-image: url("#");
   background-position: center; /* Change this depending on how you want the image to be positioned */
}

div#welcome-text {
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 2px #000000; /* Add shadow around the text so it is more visible against the background image */
  color: #00FFCC;
  font: 40px 'Josefin Sans';
}

div.three-items {
   display: block; /* display block is default for divs - this is the difference between between div and span */
   text-align: center;
   width: 100%;
}

div.an-item {
   display: inline-block; /* this element is block but will be flowed with surrounding content as if it were a single inline box (kind of like span) */
   width: 33%;
}

div.item-text {
	display:inline-block;
}

.image{
border-radius: 50%;
height: 200px;
width: 200px;

}