/*@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:700&subset=latin,latin-ext);*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.linen {
  background-image: url("low_contrast_linen.png");
  background-repeat: repeat;
  color: white;
  margin: 0 auto;
}

.swirl {
  background-image: url("swirl.png");
  background-repeat: repeat;
  margin: 0 auto;
}

.gray-bg {
  background-color: #f6f6f6;
  margin: 0 auto;
}

.row {
  padding: 0px 0px 20px 0px;
}

body {
	background-image: url("swirl.png");
	background-repeat: repeat;
	font: 20px 'Open Sans Condensed'; 
	font-weight: 700;
	/*color: #ff0000; */
	margin: 0 auto;
}

header {
  /*background-color: blue;*/
  background-image: url("low_contrast_linen.png");
  background-repeat: repeat;
  position: fixed; /* Makes the bar fixed */
  width: 100%; /* We want the bar to span the width of the window */
  /*z-index: 2;  We want the bar to overlap the rest of the content, by default HTML elements have a z-index of 1 and this gives our header priority over default elements*/
  height: 60px; /* Set a fixed height */
  display:block;
}

a.whitelink:link {
  color: white;
}

a.whitelink:unvisited {
  color: white;
}

a.whitelink:active{
  color: white;
}

a.whitelink:hover {
  color: gray;
}

/*#header-title {
  display: inline-block;
  float: left; 
  padding-top: 15px;
  font: 'Open Sans Condensed';
  font-size: 20px;
  padding-left: 50px;
  }*/

/*nav {
  display: inline-block;
  float: right;
  padding-right: 50px;
  padding-top: 25px;
}

nav ul {
  padding: 0;*/ /* Get rid of padding */ 
  /*margin: 0;*/ /* Get rid of margin */ 
  /*}*/

  /*nav li {*/
    /*display: inline-block;*/ /* We want the links to appear on the same line */
/*  padding-left: 25px;
}*/

.navbar-brand {
  font-size: 40px;
}

.navbar-nav li a:link,  a.mainlink:link{
  color: #00FFCC !important;
}

.navbar-nav li a:hover, a.mainlink:hover {
  color: #F9EFFF !important;

}

.navbar-nav li a:visited, a.mainlink:visited {
  color: #00FFCC;
}

.navbar-nav li a:active, a.mainlink:active {
  color: #00FFCC !important;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  background-image: url("low_contrast_linen.png");
  background-repeat: repeat;
  position: fixed; /* Makes the bar fixed */
  width: 100%; /* We want the bar to span the width of the window */
  /*z-index: 2;  We want the bar to overlap the rest of the content, by default HTML elements have a z-index of 1 and this gives our header priority over default elements*/
  letter-spacing: 2px;
  font-size: 20px;
}

.jumbotron  {
  padding: 60px 50px;
  background-color: #e0e0e0;
}

div#Main > h1 {
  text-shadow: 2px 2px 2px #000000; /* Add shadow around the text so it is more visible against the background image */
  color: #00FFCC;
}

a { 
  text-decoration: none;
}

main {
	padding-top: 60px;
}

section {
  margin-right: 30px;
  margin-left: 30px;
}

section#welcome {
 width: 100%;
 background-image: url("#");
 background-position: center; /* Change this depending on how you want the image to be positioned */
}

div#welcome-text {
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 2px #000000; /* Add shadow around the text so it is more visible against the background image */
  color: #00FFCC;
  font: 40px 'Open Sans Condensed';
}

div#about-text {
  display: block;
  margin: 0 auto;
  text-align: left;
}

div.three-items {
 display: block; /* display block is default for divs - this is the difference between between div and span */
 text-align: center;
 width: 100%;
}

div.an-item {
 display: inline-block; /* this element is block but will be flowed with surrounding content as if it were a single inline box (kind of like span) */
 width: 33%;
}

div.item-text {
	display:inline-block;
}

.main-logo {
  color: #4cad97;
  font-size: 30px;
  margin: 0px 0px 80px;
}

.logo {
      color: #4cad97;
      font-size: 40px;
  }

img.image{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

img.corpimage {
  border-radius: 5%;
  display: block;
  margin: 0px 0px 50px 0px;
  float: right;
}
