

  <section class="hero is-medium has-bg-img">
    
    <div class="hero-head"></div>
  
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-1 is-bold colour-peach">
          Leslie Ashmeade
        </h1>
        <p class="subtitle is-4 colour-peach">
          Bachelor of Computing and Financial Management
        </p>
        <div class="container has-text-centered">
          <a class="glyph" href="https://ca.linkedin.com/in/leslie-ashmeade" rel="noopener noreferrer" target="_blank">
            <span class="icon is-small glyphicon-ring glyphicon-test">
                <fa-icon [icon]="['fab','linkedin-in']" class="glyphicon-bordered"></fa-icon>
            </span>&nbsp;&nbsp;&nbsp;
          </a>
          <span class="icon is-small glyphicon-ring glyphicon-test">
            <fa-icon [icon]="['fab','github-alt']" class="glyphicon-bordered"></fa-icon>
          </span>&nbsp;&nbsp;&nbsp;
          <span class="icon is-small glyphicon-ring glyphicon-test">
            <fa-icon [icon]="['far','envelope']" class="glyphicon-bordered"></fa-icon>
          </span>
            <!-- <a class="glyph" href="https://ca.linkedin.com/in/leslie-ashmeade" rel="noopener noreferrer" target="_blank">
              <span class="icon glyphicon-ring glyphicon-test">
                <fa-icon icon="linkedin-in"></fa-icon>
              </span>
            </a>&nbsp;&nbsp;&nbsp; -->
            <!-- <a class="glyph" href="https://ca.linkedin.com/in/leslie-ashmeade" rel="noopener noreferrer" target="_blank"><span class="icon glyphicon-ring glyphicon-test"><i class="fas fa-linkedin fa-lg glyphicon-bordered" aria-hidden="true"></i></span></a>&nbsp;&nbsp;&nbsp; -->
            <!-- <a class="glyph" href="https://github.com/laashmea" rel="noopener noreferrer" target="_blank"><div class="glyphicon-ring glyphicon-test"><i class="fas fa-github fa-lg glyphicon-bordered" aria-hidden="true"></i></div></a>&nbsp;&nbsp;&nbsp; -->
            <!-- <a id="mailglyph"><span class="glyphicon-ring glyphicon-test"><i icon="envelope-open" class="glyphicon-bordered" aria-hidden="true"></i></span></a> -->
        </div>
      </div>
    </div>
  
    <!-- <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li class="is-active">
              <a>Overview</a>
            </li>
            <li>
              <a>Modifiers</a>
            </li>
            <li>
              <a>Grid</a>
            </li>
            <li>
              <a>Elements</a>
            </li>
            <li>
              <a>Components</a>
            </li>
            <li>
              <a>Layout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div> -->
  </section>
  <section class="section bg-magenta">
    <div class="container has-text-left">
      <h1 class="title">Welcome to my website!</h1>
      <h2 class="subtitle">
        This website is my online resume. <strong>Please enjoy!</strong>
      </h2>
      
      <!-- <p>I am a student at the University of Waterloo studying Computer Science and Finance.</p> -->
    </div>
  </section>
  <section class="section bg-olive">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <h3 class="title is-3">Bulma Form</h3>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Text input">
            </div>
          </div>
  
          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" type="text" placeholder="Text input" value="bulma">
              <span class="icon is-small is-left">
                <fa-icon icon="coffee"></fa-icon>
              </span>
              <span class="icon is-small is-right">
                <fa-icon icon="check"></fa-icon>
              </span>
            </div>
            <p class="help is-success">This username is available</p>
          </div>
  
          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
              <span class="icon is-small is-left">
                <fa-icon icon="envelope"></fa-icon>
              </span>
              <span class="icon is-small is-right">
                <fa-icon icon="exclamation-triangle"></fa-icon>
              </span>
            </div>
            <p class="help is-danger">This email is invalid</p>
          </div>
  
          <div class="field">
            <label class="label">Subject</label>
            <div class="control">
              <div class="select">
                <select>
                  <option>Select dropdown</option>
                  <option>With options</option>
                </select>
              </div>
            </div>
          </div>
  
          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea class="textarea" placeholder="Textarea"></textarea>
            </div>
          </div>
  
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox">
                I agree to the <a href="#">terms and conditions</a>
              </label>
            </div>
          </div>
  
          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="question">
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="question">
                No
              </label>
            </div>
          </div>
  
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
            <div class="control">
              <button class="button is-text">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  